@use 'styles' as *;
@use 'sass:color';

.side-menu-container {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: $primary-color;
  height: 100%;
  min-width: 250px;

  .side-menu-option {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-left: 6px;
    min-height: 40px;
    cursor: pointer;
    padding-right: 20px;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;

    &:hover {
      background-color: color.adjust($bg-color, $lightness: 10%);
      border-left-style: solid;
      border-left-width: 3px;
      border-left-color: $primary-color;
    }

    &:active {
      background-color: color.adjust($bg-color, $lightness: 5%);
    }

    @extend .prevent-user-selection;
  }
}
