@use 'styles' as *;

.home-container {
  background-color: $bg-color;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .home-contents-container {
    flex: 1;
    display: flex;
    width: 100%;

    .page-container {
      flex: 1;
      overflow-y: auto;
      overflow-x: hidden;
      padding-left: 30px;
    }
  }

}
