@use 'styles' as *;

.technocard-container {
  background-color: $bg-color;
  width: 100%;
  // max-width: 380px;
  height: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 242, 234, 0.2);
  box-shadow: 0 0 20px rgba(0, 242, 234, 0.1), inset 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  margin: 1rem;
  padding: 10px;
}

