@use 'sass:color';

@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';
@import 'ag-grid-community/styles/ag-theme-quartz.css';

/* You can add global styles to this file, and also import other style files */
$bg-color: #0D0D0D;
$primary-color: #00F2EA;
$secondary-color: #A855F7;
$text-color: #E5E5E5;
$font-family: "Fira Code", Consolas, "Courier New", Courier, monospace;
$glitch-anim-duration: 0.5s;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: $bg-color;
}

body {
  margin: 0;
  font-family: $font-family;
  color: $primary-color;
}

.prevent-user-selection {
  -webkit-user-select: none;
  user-select: none;
  -moz-user-select: none;
}

@keyframes glitch-anim {
  0% {
    transform: translate(0);
    clip-path: inset(0 0 0 0);
  }
  20% {
    transform: translate(-5px, 3px);
    clip-path: inset(50% 0 20% 0);
  }
  40% {
    transform: translate(3px, -2px);
    clip-path: inset(20% 0 60% 0);
  }
  60% {
    transform: translate(-4px, 2px);
    clip-path: inset(80% 0 5% 0);
  }
  80% {
    transform: translate(4px, -3px);
    clip-path: inset(30% 0 45% 0);
  }
  100% {
    transform: translate(0);
    clip-path: inset(0 0 0 0);
  }
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  // background-color: color.adjust($bg-color, $lightness: 20%);
  min-height: 30px;
  min-width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  color: $primary-color;
  border-radius: 12px;
  margin-top: 8px;
  margin-left: auto;
  margin-right: 16px;
  border-style: solid;
  border-width: 1px;
  border-color: $primary-color;
  padding: 10px;

  &:hover {
    background-color: color.adjust($bg-color, $lightness: 15%);
  }

  &:active {
    background-color: color.adjust($bg-color, $lightness: 10%);
  }

  @extend .prevent-user-selection;
}